*$py.class
*,cover
*.EGG
*.EGG-INFO
*.egg
*.egg
*.egg-info
*.egg-info/
*.kpf
*.log
*.manifest
*.mo
*.mo
*.pot
*.py[cod]
*.pyc
*.pyo
*.so
*.spec
*.swp
*.tmp*
*.wpr
*~
.*.cfg
.DS_Store
.Python
.bzr/
.cache
.coverage
.coverage.*
.eggs/
.eggs/
.env
.hg/
.hypothesis/
.installed.cfg
.installed.cfg
.ipynb_checkpoints
.mr.developer.cfg
.project
.pydevproject
.python-version
.ropeproject
.ropeproject/
.scrapy
.spyderproject
.svn/
.tox/
.webassets-cache
ENV/
__pycache__/
bin/
build/
celerybeat-schedule
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
fake-eggs/
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv/
